:root {  --neo-digital-blue-50: #f2f3ff;
  --neo-digital-blue-100: #dce0ff;
  --neo-digital-blue-200: #b6bfff;
  --neo-digital-blue-300: #8d99ff;
  --neo-digital-blue-400: #626eff;
/* primary color */
  --neo-digital-blue-500: #2f42ff;
  --neo-digital-blue-600: #2637e6;
  --neo-digital-blue-700: #1e2ec2;
  --neo-digital-blue-800: #131e7a;
  --neo-digital-blue-900: #000855;
  --neo-digital-green-50: #f3fff5;
  --neo-digital-green-100: #cfffd7;
  --neo-digital-green-200: #acffb9;
  --neo-digital-green-300: #88fe9b;
  --neo-digital-green-400: #72e184;
  --neo-digital-green-500: #5ec46f;
  --neo-digital-green-600: #4ca75a;
  --neo-digital-green-700: #3b8948;
  --neo-digital-green-800: #2c6c36;
  --neo-digital-green-900: #1e4f26;
  --neo-gold-100: #fbf1d2;
  --neo-gold-200: #f7e3a5;
  --neo-gold-300: #f4d479;
  --neo-gold-400: #f0c64c;
  --neo-gold-500: #ecb81f;
  --neo-gold-600: #bd9319;
  --neo-gold-700: #8e6e13;
  --neo-gold-800: #5e4a0c;
  --neo-gold-900: #2f2506;
  --neo-grey-50: #f9fafb;
  --neo-grey-100: #f3f4f6;
  --neo-grey-200: #e5e7eb;
  --neo-grey-300: #d1d5db;
  --neo-grey-400: #9ca3af;
  --neo-grey-500: #6b7280;
  --neo-grey-600: #4b5563;
  --neo-grey-700: #374151;
  --neo-grey-800: #1f2937;
  --neo-grey-900: #111827;
  --neo-orange-50: #fff8e5;
  --neo-orange-100: #ffebb7;
  --neo-orange-200: #ffde8a;
  --neo-orange-300: #ffd15c;
  --neo-orange-400: #ffc52e;
  --neo-orange-500: #ffb800;
  --neo-orange-600: #d69b00;
  --neo-orange-700: #856000;
  --neo-orange-800: #856000;
  --neo-orange-900: #5c4200;
  --neo-red-50: #ffedef;
  --neo-red-100: #ffc6cd;
  --neo-red-200: #ff9eaa;
  --neo-red-300: #fd7686;
  --neo-red-400: #ed4a5d;
  --neo-red-500: #cb3446;
  --neo-red-600: #a92232;
  --neo-red-700: #871421;
  --neo-red-800: #650914;
  --neo-red-900: #43020a;
  --neo-teal-green-50: #eefffa;
  --neo-teal-green-100: #c9fff1;
  --neo-teal-green-200: #a4ffe7;
  --neo-teal-green-300: #7fffde;
  --neo-teal-green-400: #54eec6;
  --neo-teal-green-500: #3bcca6;
  --neo-teal-green-600: #27aa88;
  --neo-teal-green-700: #17886b;
  --neo-teal-green-800: #0b664e;
  --neo-teal-green-900: #034433;
  --neo-violet-100: #ebd5f1;
  --neo-violet-200: #d6ace3;
  --neo-violet-300: #c282d5;
  --neo-violet-400: #ad59c7;
  --neo-violet-500: #992fb9;
  --neo-violet-600: #7a2694;
  --neo-violet-700: #5c1c6f;
  --neo-violet-800: #3d134a;
  --neo-violet-900: #1f0925;
  --neo-white: rgba(255, 255, 255, 1);}