.card {
  background: rgba(248, 248, 248, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

[data-theme='dark'] .card {
  background: rgba(133, 254, 152, 0.15);
  border: 1px solid rgba(133, 254, 152, 0.15);
}

.cardInner {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid #8d99ff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

[data-theme='dark'] .cardInner {
  background: rgba(4, 24, 52, 0.75);
  backdrop-filter: blur(10px);
}
